{% extends "blogs/front.html" %}
{% load static %}

{% block cuerpo %}
<body>
    <div class="container">
        <ul class="nav justify-content-center ">
        <div style="width:1000px; margin: 276.5px auto;">
        <div class="starter-template">
        <center>

        <h1>Te deslogueaste con exito! </h1>
        <br>------------------------------------------------------------------------------------------------</br>
           <br></br>
        <h3></h3>
        
         <div style="width:1000px; margin:30 auto;">
                    
         <a class="btn btn-outline-primary btn-lg" href="{%url  'usuario_iniciarsesion' %}" role="button">Sign Up</a>
                   
         <a class="btn btn-outline-primary btn-lg" href="{%url  'blogs_iniciarsesion' %}" role="button">Login</a>
                   
          </div>
        </center>
        </div>
        </div>
      </div>
<script>
// Redirecciona al Index principal
  window.setTimeout(function() {
  window.location.href = '/';
  }, 2000); //    2000 MS = 2 SEGUNDOS
</script>

{% endblock %}
