{% extends "blogs/front.html" %}
{% load static %}



{% block cuerpo %}
    
    <div class="container">
        <ul class="nav justify-content-center ">
        <div style="width:1500px; margin: 279.5px auto;">
        <div class="starter-template">
        <center>

        <h1>¡Bienvenido a la plataforma de estudios!</h1>
        <br>------------------------------------------------------------------------------------------------</br>
           <br></br>
        <h3></h3>
         <p class="lead">Si ya estas registrado presiona <strong>Login</strong></p>
        
                   
         <a class="btn btn-outline-primary btn-lg" href="{%url  'usuario_iniciarsesion' %}" role="button">Sign Up</a>
                   
         <a class="btn btn-outline-primary btn-lg" href="{%url  'blogs_iniciarsesion' %}" role="button">Login</a>
                   
          </div>
        </center>
        </div>
        </div>
      </div>

{% endblock %}
</html>