{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}
<html>
<head>
  <link type="text/css" rel="stylesheet" href="{% static 'blogs/css/listas.css' %}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid justify-content-between">
        <div class="d-flex">
          <a class="navbar-brand me-2 mb-1 d-flex align-items-center" href="">
            <img
              src="https://i.postimg.cc/Z5FDD5vZ/pngwing-com.png"
              height="80"
              alt="MDB Logo"
              loading="lazy"
              style="margin-top: -10px;"
            />
          </a>
          
          <center><h1> Registrate para acceder a la plataforma </h1></center>
        </div>

  
      </div>
    </nav>
  </head>

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Crear Cuenta">
    <a href="{%url  'blogs_iniciarsesion' %}" role="button">Si ya tiene creada una cuenta presiona aca</a>
</form>


<body>
</body>

<footer><footer class="bg-dark text-center text-white">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(171, 185, 192, 0.603);">
      © 2022 Copyright
      <a class="text-white" </a>
    </div>
    <!-- Copyright -->
  </footer>
</html>

