{% extends "blogs/front.html" %}
{% load bootstrap5 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load static %}


{% block cuerpo %}
<div style="width:100%; margin: 18.5px auto;">
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Crear Cuenta">
    <a href="{%url  'blogs_iniciarsesion' %}" role="button">Si ya tiene creada una cuenta presiona aca</a>
</form>
</div>
{% endblock %}




